<%= form_for [@link, @comment] do |f| %>
  <div class="form-group">
    <%= f.hidden_field :link_id, :value => @link.id %>
    <%= f.label "Add a Comment" %>
    <%= f.text_area :content, :id => "content_comment"  %>
  </div>
    <%= f.submit(class: "btn btn-primary") %>
<% end %>
