<div class="row">
  <div class='small-12'>
  <h1>Sign Up</h1>

  <%= render('layouts/errors', :object => @user) %>
  <%= form_for @user do |f| %>
    <div class = "field">
      <ul class="no-margin">
        <li><%= f.label :email %></li>
        <li><%= f.text_field :email %></li>
      </ul>
    </div>
    <div class = "field">
      <ul class="no-margin">
        <li><%= f.label :password %></li>
        <li><%= f.password_field :password %></li>
      </ul>
    </div>
    <div class = "field">
      <ul class="no-margin">
        <li><%= f.label :password_confirmation %></li>
        <li><%= f.password_field :password_confirmation %></li>
      </ul>
    </div>
    <div class = "actions"><%= f.submit "Sign Up", :class => 'button tiny' %></div>
  <% end %>
  </div>
</div>
