<div class='alert'>
  <% if flash[:notice] == "Account created." %>
    <div data-alert class="alert-box success">
      <%= flash[:notice] %>
      <a href="#" class="close">&times;</a>
    </div> 
  <% elsif flash[:notice] == "Link Created" %>
    <div data-alert class="alert-box success">
      <%= flash[:notice] %>
      <a href="#" class="close">&times;</a>
    </div>
  <% elsif flash[:notice] == "Email or password is not recognized. Please try again." %>
    <div data-alert class="alert-box alert">
      <%= flash[:notice] %>
      <a href="#" class="close">&times;</a>
    </div>
  <% elsif flash[:notice] == "Logged in!" %>
    <div data-alert class="alert-box success">
      <%= flash[:notice] %>
      <a href="#" class="close">&times;</a>
    </div>
  <% elsif flash[:notice] == "Sorry, you must log in to post new content. Please create an account or login." %>
    <div data-alert class="alert-box alarm">
      <%= flash[:notice] %>
      <a href="#" class="close">&times;</a>
    </div>
  <% elsif flash[:notice] == "Successfully logged out!" %>
  <div data-alert class="alert-box warning">
      <%= flash[:notice] %>
      <a href="#" class="close">&times;</a>
    </div>
  <% elsif flash[:notice] == "That story has already been submitted. Try again." %>
  <div data-alert class="alert-box warning">
      <%= flash[:notice] %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
</div>
