<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300italic' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <title><%= content_for?(:title) ? yield(:title) : "KittenNewz" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
      <div class="small-12 columns">
        <div class="row">
          <nav class="top-bar" data-topbar="">
            <ul class="title-area">
              <li class="name">
                <h1>
                  <a href="/">KittenNewz</a>
                </h1>
              </li>
              <li class="toggle-topbar menu-icon">
                <a href="#"><span>menu</span></a>
              </li>
            </ul>
            <section class="top-bar-section">
              <ul class="right">
                <% if current_user %>
                    <div class='user-info'>
                        <ul>
                          <li><a><%= current_user.email %></li></a>
                          <li><%= link_to logout_path do%>
                            <i class="icon comment up fa fa-sign-out fa-1x"></i>
                            <% end %>
                          </li>
                        </ul>
                    </div>
                  <% else %>
                  <li> <%= link_to "Sign Up", new_user_path %>

                  </li>
                  <li><%= link_to "Log In", new_session_path %></li>
                <% end %>
              </ul>
            </section>
          </nav>
        <div id='flash_alert'>
          <%= render("/layouts/flash_alerts") %>
        </div>
      </div>

    <%= yield %>

    <%= javascript_include_tag "application" %>
        <footer class="row">
          <div class="large-12 columns">
            <hr>
            <div class="row">
              <div class="large-6 columns">
                <p>
                  © KittenNewz LLC ;)
                </p>
              </div>
              <div class="large-6 columns">
                <ul class="inline-list right">
                  <li>
                    <a href="#">Link 1</a>
                  </li>
                  <li>
                    <a href="#">Link 2</a>
                  </li>
                  <li>
                    <a href="#">Link 3</a>
                  </li>
                  <li>
                    <a href="#">Link 4</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>

