<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300italic' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

      <div class="large-12 columns">
        <div class="row">
          <nav class="top-bar" data-topbar="">
            <ul class="title-area">
              <li class="name">
                <h1>
                  <a href="/">KittenNewz</a>
                </h1>
              </li>
              <li class="toggle-topbar menu-icon">
                <a href="#"><span>menu</span></a>
              </li>
            </ul>
            <section class="top-bar-section">
              <ul class="right">
                <% if current_user %>
                    <div class='user-info'>
                        <ul>
                          <li><i class="icon comment up fa fa-user fa-1x"></i><%= current_user.email %></li>
                          <li><i class="icon comment up fa fa-sign-out fa-1x"></i></li>

                    </div>
                  <% else %>
                  <li> <%= link_to "Sign Up", new_user_path %>
  <!--                <a href="#" data-reveal-id="signupModal">SignUp</a>
                    <div id="signupModal" class="reveal-modal modal-style" data-reveal>
                       render partial:"/users/sign_up"
                      <a class="close-reveal-modal">×</a>
                    </div>-->
                  </li>
                  <li><%= link_to "Log In", new_session_path %></li>
                <% end %>
              </ul>
            </section>
          </nav>
        <div id='flash_alert'>
          <%= render("/layouts/flash_alerts") %>
        </div>
      </div>




    <%= yield %>


    <%= javascript_include_tag "application" %>
  </body>
</html>

